doctype html
html
  head
    title Forever JS!
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body

    // navigation bar
    nav.navbar.navbar-default(role="navigation")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-links-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") ForeverJS 
            img(src="/img/loading.gif", height="25px" id="progressAnim")

        div.collapse.navbar-collapse#navbar-collapse-links-1
          ul.nav.navbar-nav.navbar-right
            block navLinks

    // app body
    div.container-fluid

      block content

      div.row
        div.col-md-12
          hr
          p.pull-right ForeverJS is an opensource app written by 
            a(href="http://ansals.me") me
            |. Get source code over 
            a(href="https://github.com/ansal/foreverjs") here
            |.

    // js templates
    block templates

    // js libs
    script(src="/js/lib/jquery.min.js")
    script(src="/js/lib/bootstrap.min.js")

    // page specific scripts
    block pageScripts