extends layout

block content
  div.row
    div.col-md-12
      h5.pull-right
        | Welcome 
        = user.name
        |!

  div.row#app-container

block navLinks
  li
    a(href="#/app")
      span.glyphicon.glyphicon-home
      |  Dashboard
  li
    a#showArticleModal(href="#")
      span.glyphicon.glyphicon-plus
      |  Article
  li
    a(href="/logout")
      span.glyphicon.glyphicon-log-out
      |  Logout

block templates
  script#articleBoxTemplate(type="text/template")
    h4 
      a(href!="#/article/<%= article.get('_id') %>") <%= article.get('title').slice(0, 50) %><%= article.get('title').length >=50 ? '...' : '' %>
    small.text-muted(style="margin-bottom:-100px")
      |<%= Forever.utils.printDate(article.get('date')) %>
    hr
    p <%= $('<div></div>').html(article.get('article')).text().slice(0, 100) %> ...
    br
    small
      |Source: 
      a(target="_blank", href!="<%= article.get('url') %>") <%= Forever.utils.getHostname(article.get('url')) %>
    br
    small Tags: 
      |<% _.each(article.get('tags'), function(tag, index, tags){ %>
      a(href="#")<%= tag %><%= index + 1 === tags.length ? '' : ', ' %>
      |<%  }); %>
    hr
    small
      a.text-danger.articleRemoveLink(href="#") Delete

  script#articlePreviewTemplate(type="text/template")
    h3 <%= article.get('title') %>
      br
      small.text-muted(style="margin-bottom:-100px")
        |<%= Forever.utils.printDate(article.get('date')) %>
    small Tags: 
      |<% _.each(article.get('tags'), function(tag, index, tags){ %>
      a.text-info(href="#")<%= tag %><%= index + 1 === tags.length ? '' : ', ' %>
      |<%  }); %>
    br
    small
      a(target="_blank", href!="<%= article.get('url') %>") Link to Article, 
      a.text-danger.articleRemoveLink(href="#") Delete
    br
    a.text-muted.pull-right(href="#/app") Back to Dashboard
    hr
    p
      <%= article.get('article') %>

  // new article modal popup
  div.modal.fade#newArticleModal(tabindex="-1", role="dialog", aria-labelledby="articleModalLabel", aria-hidden="true")
    div.modal-dialog.modal-sm
      div.modal-content
        div.modal-header
          h4.modal-title#articleModalLabel Add new article to ForeverJS!
        div.modal-body
          div.alert.alert-danger#newUrlErrorAlert(role="alert")
            strong Oh No!
            |  I need a valid URL!
          div.form-group#urlFormGroup
            label(for="newArticleUrl") Url
            input.form-control#newArticleUrl(type=text, placeholder="Enter url of the article")
          div.form-group
          label(for="newArticleTags") Tags
          input.form-control#newArticleTags(type=text, placeholder="Enter tags seperated by comma")
        div.modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary#saveNewArticleButton(type="button")
            span.glyphicon.glyphicon-plus
            | Add

block pageScripts
  script(src="/js/lib/underscore.min.js")
  script(src="/js/lib/backbone.min.js")

  // backbone app
  script(src="/js/models.js")
  script(src="/js/collections.js")
  script(src="/js/views.js")
  script(src="/js/routes.js")
  script(src="/js/app.js")
  // for bootstrapping backbone models
  script
    | Forever.Articles.reset(
    != articles
    |);
