extends layout

block content
  div.row
    div.col-md-12
      h5.pull-right
        | Welcome 
        = user.name
        |!

  div.row#articleContainer

block navLinks
  li
    a(href="/logout") Add Article
  li
    a(href="/logout") Logout

block pageScripts
  // for bootstrapping backbone models
  script
    | Forever.Articles.reset(
    != articles
    |);

block templates
  script#articleBoxTemplate(type="text/template")
    h4 
      a(href!="#/article/<%= article.get('_id') %>") <%= article.get('title') %>
    hr
    p <%= article.get('article').slice(0, 100) %> ...
    hr
    small
      |Source: 
      a(target="_blank", href!="<%= article.get('url') %>") <%= Forever.utils.getHostname(article.get('url')) %>
    br
    small Tags: 
      |<% _.each(article.get('tags'), function(tag){ %>
      a(href="#")<%= tag %>,
      |<%  }); %>

  script#articlePreviewTemplate(type="text/template")
    h4 <%= article.get('title') %>
    hr
    p
      <%= article.get('article') %>